<% content_for :page_id, 'list' %>
<p id="notice"><%= notice %></p>
<script type="text/javascript">
var TRIPS = <%= @trips.to_json.html_safe %>;
</script>

<div class="info-box">
  <h2>請點選地圖上的地標</h2>
  <ul style="display: none">
    <li class="video-title">標題:<span></span></li>
    <li class="start-point">啟始點：<span></span></li>
    <li class="end-point">結束點：<span></span></li>
    <li class="created_at">建立日期:<span></span></li>
  </ul>
</div>