<div class="header">
	<h1>延人里程記錄器</h1>
</div>

<div id="map" class="map-frame">
<!-- AIzaSyB03cK_JNQ-T8KTe3odfQQ0k7lyhGD8fUw -->
</div>

<!-- <div class="map-content"> I want this text to be in a div box that has a black background. <br /> -->


<%= render 'form' %>

<!-- <%= link_to 'Back', trips_path %> -->
