<div class="header">
	<h1>延人里程記錄器</h1>
</div>

<div id="map" class="map-frame">
<!-- AIzaSyB03cK_JNQ-T8KTe3odfQQ0k7lyhGD8fUw -->
</div>

<script type="text/javascript">
function initMap() {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: -34.397, lng: 150.644 },
    // scrollwheel: false,
    zoom: 8
  })


  var infoWindow = new google.maps.InfoWindow({map: map})

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB03cK_JNQ-T8KTe3odfQQ0k7lyhGD8fUw&callback=initMap"
    async defer></script>
<!-- <div class="map-content"> I want this text to be in a div box that has a black background. <br /> -->


<%= render 'form' %>

<!-- <%= link_to 'Back', trips_path %> -->
